@import "../../assets/scss/variables.scss";

.form {
	color: $marine_blue;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	.form-title {
		text-align: left;

		span {
			color: $cool_gray;
		}
	}

	.form-content {
		.step1 {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: center;

			.group {
				width: 100%;

				.label-error {
					display: flex;
					justify-content: space-between;

					.error {
						color: $strawberry_red;
						font-weight: bold;
					}
				}

				input {
					width: 100%;

					border-radius: 0.313rem;
					border: 0.063rem solid $light_gray;

					color: $marine_blue;
					font-weight: bold;

					&:focus {
						outline-color: $purplis_blue;
					}

					&::placeholder {
						color: $cool_gray;
						font-weight: normal;
					}

					&.error {
						border-color: $strawberry_red;
					}
				}
			}
		}

		.step2 {
			.step2-plans {
				display: flex;
				flex-direction: row;
				justify-content: space-between;

				.plan-box {
					text-align: left;
					border-radius: 0.65rem;
					background-color: $white;
					border: 0.063rem solid $light_gray;
					cursor: pointer;

					.plan-title {
						color: $marine_blue;
						font-weight: bold;
					}

					.plan-price {
						color: $cool_gray;
					}

					.plan-discount {
						color: $marine_blue;
					}

					&.selected {
						background-color: $magnolia;
						border-color: $purplis_blue;
					}
				}
			}

			.step2-billing {
				border-radius: 0.313rem;
				background-color: $magnolia;
				border: 0.063rem solid $magnolia;
				display: flex;
				justify-content: center;
				align-items: center;

				.billing-toggle {
					position: relative;
					display: inline-block;

					.billing-monthly {
						font-weight: bold;
						font-size: 0.875rem;
						position: absolute;
						top: 0.188rem;
						left: -3.75rem;
					}

					.billing-yearly {
						position: absolute;
						top: 0.188rem;
						right: -3rem;
						font-weight: bold;
						font-size: 0.875rem;
					}

					.blue {
						color: $marine_blue;
					}

					.gray {
						color: $cool_gray;
					}
				}
			}
		}

		.step3 {
			display: flex;
			flex-direction: column;
			justify-content: space-between;

			.extra-option {
				border-radius: 0.313rem;
				border: 0.063rem solid $light_gray;
				text-align: left;
				background-color: $white;
				display: flex;
				justify-content: space-between;
				align-items: center;

				.option-checkbox {
					appearance: none;
					position: relative;
					cursor: pointer;

					&::before {
						content: "";
						display: block;
						position: absolute;
						border: 0.063rem solid $light_gray;
						border-radius: 0.313rem;
						background-color: $white;
					}

					&:checked::before {
						content: "";
						display: block;
						position: absolute;
						background-color: $purplis_blue;
						border: 0.063rem solid $purplis_blue;
					}

					&:checked::after {
						content: "";
						border: solid $white;
						display: block;
						position: absolute;
					}
				}

				.option-text {
					text-align: left;

					.option-title {
						font-weight: bold;
						color: $marine_blue;
					}

					.option-description {
						color: $cool_gray;
					}
				}

				.option-price {
					color: $purplis_blue;
				}

				&.selected {
					background-color: $magnolia;
					border-color: $purplis_blue;
				}
			}
		}

		.step4 {
			.summarize {
				height: auto;
				background-color: $alabaster;
				border-radius: 0.65rem;
				border: 0.125rem solid $alabaster;

				.plan-details {
					display: flex;
					justify-content: space-between;
					align-content: center;
					color: $marine_blue;
					border-bottom: 0.063rem solid $light_gray;

					.plan-details-title {
						.change-button {
							font-weight: normal;
							color: $cool_gray;
							text-decoration: underline;
							cursor: pointer;
						}
					}

					.plan-details-price {
						font-weight: bold;
					}
				}

				.add-ons-details {
					.add-on {
						display: flex;
						justify-content: space-between;
						color: $cool_gray;

						.add-on-price {
							color: $marine_blue;
						}
					}
				}
			}

			.total-price {
				display: flex;
				justify-content: space-between;

				.title {
					color: $cool_gray;
				}

				.price {
					color: $purplis_blue;
					font-weight: bold;
				}
			}
		}
	}

	.form-buttons {
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		button {
			font-weight: bold;
			border: none;
			cursor: pointer;
			background-color: $marine_blue;
			color: $white;
			border-radius: 0.313rem;

			&:hover {
				opacity: 80%;
			}
		}

		.submit {
			background-color: $purplis_blue;
		}

		.back {
			background-color: transparent;
			color: $cool_gray;

			&:hover {
				opacity: 100%;
				color: $marine_blue;
			}
		}

		.back.invisible {
			visibility: hidden;
		}
	}
}

@media screen and (max-width: 375px) {
	//Mobile
	.form {
		width: 19rem;
		position: absolute;
		top: 6rem;
		left: 2rem;
		background-color: $white;
		padding: 1rem 1.25rem;
		border-radius: 0.65rem;

		.form-title {
			padding: 0 0.313rem;

			h1 {
				margin: 0;
				margin-bottom: 0.5rem;
				font-size: 1.125rem;
			}

			span {
				font-size: 0.75rem;
			}
		}

		.form-content {
			height: auto;
			font-size: 0.75rem;

			.step1 {
				gap: 0.25rem;
				padding: 1rem 0;

				.group {
					padding: 0.35rem 0;

					.label-error {
						padding: 0 0.313rem;

						.error {
							font-size: 0.75rem;
						}
					}

					input {
						width: 100%;
						height: 1.8rem;
						margin-top: 0.25rem;
						border-radius: 0.313rem;
						padding: 0.35rem 0.45rem;
					}
				}
			}

			.step2 {
				padding-top: 0.7rem;

				.step2-plans {
					flex-direction: column;
					gap: 0.5rem;

					.plan-box {
						padding: 0.45rem 1.25rem;
						display: flex;
						flex-direction: row;
						justify-content: flex-start;
						align-content: center;
						gap: 1rem;

						svg {
							width: 1.875rem;
							height: 1.875rem;
						}

						.plan-icon {
							margin-top: 0.3rem;
						}

						.plan-content {
							display: flex;
							flex-direction: column;

							.plan-title {
								padding-bottom: 0.25rem;
								font-size: 0.875rem;
							}

							.plan-price {
								padding-bottom: 0.25rem;
								font-size: 0.75rem;
							}

							.plan-discount {
								padding-bottom: 0.25rem;
								font-size: 0.625rem;
							}
						}
					}
				}

				.step2-billing {
					height: 2rem;
					margin-top: 1rem;

					.billing-toggle {
						width: 2rem;
						height: 1rem;

						.billing-monthly {
							font-size: 0.75rem;
							position: absolute;
							top: 0.188rem;
							left: -3.75rem;
						}

						.billing-yearly {
							position: absolute;
							top: 0.188rem;
							right: -3rem;
							font-weight: bold;
							font-size: 0.75rem;
						}

						.billing-toggle-input {
							display: none;

							&:checked + .billing-toggle-handler {
								&::before {
									-webkit-transform: translateX(0.8rem);
									-ms-transform: translateX(0.8rem);
									transform: translateX(0.8rem);
								}
							}
						}

						.billing-toggle-handler {
							position: absolute;
							cursor: pointer;
							top: 0;
							left: 0;
							right: 0;
							bottom: 0;
							background-color: $marine_blue;
							-webkit-transition: 0.4s;
							transition: 0.4s;
							border-radius: 2.125rem;

							&::before {
								position: absolute;
								content: "";
								height: 0.8rem;
								width: 0.8rem;
								left: 0.25rem;
								bottom: 0.1rem;
								background-color: $white;
								-webkit-transition: 0.4s;
								transition: 0.4s;
								border-radius: 50%;
							}
						}
					}
				}
			}

			.step3 {
				gap: 1rem;
				padding-bottom: 1rem;
				margin-top: 1rem;

				.extra-option {
					height: 3.375rem;
					padding: 0.65rem 1rem;
					font-size: 0.875rem;

					.option-checkbox,
					.option-checkbox::before,
					.option-checkbox:checked::before {
						width: 1rem;
						height: 1rem;
					}

					.option-checkbox {
						&::before,
						&:checked::before {
							top: 0;
							left: 0;
						}

						&:checked::after {
							-webkit-transform: rotate(45deg);
							-ms-transform: rotate(45deg);
							transform: rotate(45deg);
							top: 0.1rem;
							left: 0.35rem;
							width: 0.3rem;
							height: 0.6rem;
							border-width: 0 0.125rem 0.125rem 0;
						}
					}

					.option-text {
						width: 9rem;

						.option-title {
							margin-bottom: 0.313rem;
						}

						.option-description {
							font-size: 0.75rem;
						}
					}
				}
			}

			.step4 {
				.summarize {
					margin-top: 1rem;
					padding: 1rem;

					.plan-details {
						padding-bottom: 0.65rem;
						font-size: 0.875rem;

						.plan-details-title {
							font-weight: 600;

							.change-button {
								font-size: 0.75rem;
								padding: 0.313rem 0;
							}
						}

						.plan-details-price {
							padding: 0.65rem 0;
						}
					}

					.add-ons-details {
						padding-top: 0.35rem;

						.add-on {
							padding-top: 0.65rem;
						}
					}
				}

				.total-price {
					padding: 0.8rem 1rem;

					.title {
						font-size: 0.875rem;
					}

					.price {
						font-size: 0.9rem;
					}
				}
			}
		}

		.form-buttons {
			background-color: $white;
			padding: 0.87rem 2rem;
			position: fixed;
			bottom: 0;
			width: 100vw;
			left: 0;

			button {
				height: 1.7rem;
				font-size: 0.75rem;
				padding: 0.35rem;
			}
		}
	}
}

@media screen and (min-width: 376px) and (max-width: 768px) {
	//Tablet
	.form {
		width: 28rem;
		position: absolute;
		top: 5rem;
		left: 8rem;
		background-color: $white;
		padding: 1rem 1.25rem;
		border-radius: 0.65rem;

		.form-title {
			padding: 0 0.313rem;

			h1 {
				margin: 0;
				margin-bottom: 0.5rem;
				font-size: 1.125rem;
			}

			span {
				font-size: 0.75rem;
			}
		}

		.form-content {
			height: auto;
			font-size: 0.75rem;

			.step1 {
				gap: 0.25rem;
				padding: 1rem 0;

				.group {
					padding: 0.35rem 0;

					.label-error {
						padding: 0 0.313rem;

						.error {
							font-size: 0.75rem;
						}
					}

					input {
						width: 100%;
						height: 1.8rem;
						margin-top: 0.25rem;
						border-radius: 0.313rem;
						padding: 0.35rem 0.45rem;
					}
				}
			}

			.step2 {
				padding-top: 0.7rem;

				.step2-plans {
					flex-direction: column;
					gap: 0.5rem;

					.plan-box {
						padding: 0.45rem 1.25rem;
						display: flex;
						flex-direction: row;
						justify-content: flex-start;
						align-content: center;
						gap: 1rem;

						svg {
							width: 1.875rem;
							height: 1.875rem;
						}

						.plan-icon {
							margin-top: 0.3rem;
						}

						.plan-content {
							display: flex;
							flex-direction: column;

							.plan-title,
							.plan-price,
							.plan-discount {
								padding-bottom: 0.25rem;
							}

							.plan-title {
								font-size: 0.875rem;
							}

							.plan-price {
								font-size: 0.75rem;
							}

							.plan-discount {
								font-size: 0.625rem;
							}
						}
					}
				}

				.step2-billing {
					height: 2rem;
					margin-top: 1rem;

					.billing-toggle {
						width: 2rem;
						height: 1rem;

						.billing-monthly {
							font-size: 0.75rem;
							position: absolute;
							top: 0.188rem;
							left: -3.75rem;
						}

						.billing-yearly {
							position: absolute;
							top: 0.188rem;
							right: -3rem;
							font-weight: bold;
							font-size: 0.75rem;
						}

						.billing-toggle-input {
							display: none;

							&:checked + .billing-toggle-handler {
								&::before {
									-webkit-transform: translateX(0.8rem);
									-ms-transform: translateX(0.8rem);
									transform: translateX(0.8rem);
								}
							}
						}

						.billing-toggle-handler {
							position: absolute;
							cursor: pointer;
							top: 0;
							left: 0;
							right: 0;
							bottom: 0;
							background-color: $marine_blue;
							-webkit-transition: 0.4s;
							transition: 0.4s;
							border-radius: 2.125rem;

							&::before {
								position: absolute;
								content: "";
								height: 0.8rem;
								width: 0.8rem;
								left: 0.25rem;
								bottom: 0.1rem;
								background-color: $white;
								-webkit-transition: 0.4s;
								transition: 0.4s;
								border-radius: 50%;
							}
						}
					}
				}
			}

			.step3 {
				gap: 1rem;
				padding-bottom: 1rem;
				margin-top: 1rem;

				.extra-option {
					height: 3.375rem;
					padding: 0.65rem 1rem;
					font-size: 0.875rem;

					.option-checkbox,
					.option-checkbox::before,
					.option-checkbox:checked::before {
						width: 1rem;
						height: 1rem;
					}

					.option-checkbox {
						&::before,
						&:checked::before {
							top: 0;
							left: 0;
						}

						&:checked::after {
							-webkit-transform: rotate(45deg);
							-ms-transform: rotate(45deg);
							transform: rotate(45deg);
							top: 0.1rem;
							left: 0.35rem;
							width: 0.3rem;
							height: 0.6rem;
							border-width: 0 0.125rem 0.125rem 0;
						}
					}

					.option-text {
						width: 9rem;

						.option-title {
							margin-bottom: 0.313rem;
						}

						.option-description {
							font-size: 0.75rem;
						}
					}
				}
			}

			.step4 {
				.summarize {
					margin-top: 1rem;
					padding: 1rem;

					.plan-details {
						padding-bottom: 0.65rem;
						font-size: 0.875rem;

						.plan-details-title {
							font-weight: 600;

							.change-button {
								font-size: 0.75rem;
								padding: 0.313rem 0;
							}
						}

						.plan-details-price {
							padding: 0.65rem 0;
						}
					}

					.add-ons-details {
						padding-top: 0.35rem;

						.add-on {
							padding-top: 0.65rem;
						}
					}
				}

				.total-price {
					padding: 0.8rem 1rem;

					.title {
						font-size: 0.875rem;
					}

					.price {
						font-size: 0.9rem;
					}
				}
			}
		}

		.form-buttons {
			background-color: $white;
			padding: 0.87rem 2rem;
			position: fixed;
			bottom: 0;
			width: 100vw;
			left: 0;

			button {
				height: 1.7rem;
				font-size: 0.75rem;
				padding: 0.35rem;
			}
		}
	}
}

@media screen and (min-width: 769px) and (max-width: 1440px) {
	//Desktop
	.form {
		width: 43.7rem;
		padding: 1.25rem 6.25rem;

		.form-title {
			padding: 0.313rem;

			h1 {
				margin-bottom: 0.65rem;
			}
		}

		.form-content {
			height: 22.5rem;

			.step1 {
				gap: 1.25rem;
				padding: 1.87rem 0;

				.group {
					padding: 0.65rem 0;

					.label-error {
						padding: 0 0.313rem;

						.error {
							font-size: 0.875rem;
						}
					}

					input {
						width: 100%;
						height: 2.5rem;
						margin-top: 0.5rem;
						border-radius: 0.313rem;
						padding: 0.65rem;
					}
				}
			}

			.step2 {
				padding-bottom: 2.5rem;

				.step2-plans {
					gap: 1.25rem;

					.plan-box {
						margin: 1.25rem 0;
						padding: 0.65rem 1.25rem;
						width: 15.6rem;

						svg {
							width: 2.5rem;
							height: 2.5rem;
						}

						.plan-icon {
							margin-top: 0.65rem;
							margin-bottom: 1.87rem;
						}

						.plan-title {
							padding: 0.65rem 0;
							font-size: 1.125rem;
						}

						.plan-price,
						.plan-discount {
							padding-bottom: 0.65rem;
						}

						.plan-price {
							font-size: 1rem;
						}

						.plan-discount {
							font-size: 0.875rem;
						}
					}
				}

				.step2-billing {
					height: 3rem;
					margin: 1.25rem 0;

					.billing-toggle {
						width: 3rem;
						height: 1.5rem;

						.billing-monthly {
							font-size: 0.875rem;
							position: absolute;
							top: 0.188rem;
							left: -3.75rem;
						}

						.billing-yearly {
							position: absolute;
							top: 0.188rem;
							right: -3rem;
							font-weight: bold;
							font-size: 0.875rem;
						}

						.billing-toggle-input {
							display: none;

							&:checked + .billing-toggle-handler {
								&::before {
									-webkit-transform: translateX(1.625rem);
									-ms-transform: translateX(1.625rem);
									transform: translateX(1.625rem);
								}
							}
						}

						.billing-toggle-handler {
							position: absolute;
							cursor: pointer;
							top: 0;
							left: 0;
							right: 0;
							bottom: 0;
							background-color: $marine_blue;
							-webkit-transition: 0.4s;
							transition: 0.4s;
							border-radius: 2.125rem;

							&::before {
								position: absolute;
								content: "";
								height: 1rem;
								width: 1rem;
								left: 0.25rem;
								bottom: 0.25rem;
								background-color: $white;
								-webkit-transition: 0.4s;
								transition: 0.4s;
								border-radius: 50%;
							}
						}
					}
				}
			}

			.step3 {
				gap: 1.25rem;
				padding-bottom: 2.5rem;
				margin-top: 1.25rem;

				.extra-option {
					height: 4.375rem;
					padding: 0.65rem 1.25rem;
					font-size: 0.875rem;

					.option-checkbox,
					.option-checkbox::before,
					.option-checkbox:checked::before {
						width: 1.25rem;
						height: 1.25rem;
					}

					.option-checkbox {
						&::before,
						&:checked::before {
							top: 0;
							left: 0;
						}

						&:checked::after {
							-webkit-transform: rotate(45deg);
							-ms-transform: rotate(45deg);
							transform: rotate(45deg);
							top: 0.188rem;
							left: 0.5rem;
							width: 0.313rem;
							height: 0.65rem;
							border-width: 0 0.125rem 0.125rem 0;
						}
					}

					.option-text {
						width: 22.5rem;

						.option-title {
							font-size: 1rem;
							margin-bottom: 0.313rem;
						}
					}
				}
			}

			.step4 {
				.summarize {
					margin-top: 1.25rem;
					padding: 1.25rem;

					.plan-details {
						padding-bottom: 1.25rem;
						font-size: 1.125rem;

						.plan-details-title {
							font-weight: 600;

							.change-button {
								font-size: 1rem;
								padding: 0.313rem 0;
							}
						}

						.plan-details-price {
							padding: 0.65rem 0;
						}
					}

					.add-ons-details {
						padding-top: 0.65rem;

						.add-on {
							padding: 0.65rem 0;
						}
					}
				}

				.total-price {
					padding: 1.25rem;

					.title {
						font-size: 1rem;
					}

					.price {
						font-size: 1.125rem;
					}
				}
			}
		}

		.form-buttons {
			padding-top: 1.87rem;

			button {
				height: 2.5rem;
				padding: 0.65rem;
			}
		}
	}
}
