@import "./assets/scss/variables.scss";

.app {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;

	.container {
		display: flex;
		background-color: $white;
		border-radius: 10px;
		padding: 10px;
		min-width: 900px;

		.sidebar {
			background: url("./assets/img/bg-sidebar-desktop.svg") no-repeat 100% 100%;
			width: 275px;
			height: 570px;
			padding-top: 30px;
			display: flex;
			flex-direction: column;
			gap: 15px;

			.step-button {
				display: grid;
				grid-template-areas:
					"index  number"
					"index  title";
				justify-content: flex-start;
				align-items: center;
				height: 50px;
				margin: 0 40px;
				color: $white;

				.step-index {
					grid-area: index;
					width: 30px;
					height: 30px;
					border-radius: 50%;
					border: 2px solid $light_blue;
					font-weight: bold;
					margin-right: 10px;
					text-align: center;
					line-height: 30px;
				}

				.step-number {
					grid-area: number;
					text-align: left;
					margin: 0 5px;
				}

				.step-title {
					grid-area: title;
					text-transform: uppercase;
					font-weight: bold;
					margin: 0 5px;
					width: 115px;
				}
			}
		}

		.form {
			min-width: 700px;
			padding: 20px 70px;
			justify-content: center;
			color: $marine_blue;

			.form-title {
				text-align: left;
				padding: 5px;

				h1 {
					margin-bottom: 10px;
				}

				span {
					color: $cool_gray;
				}
			}

			.form-content {
				.step1 {
					display: flex;
					flex-direction: column;
					justify-content: space-between;
					align-items: center;
					gap: 20px;
					padding: 30px 0;

					.group {
						width: 100%;
						padding: 10px 0;

						label {
							padding: 0 5px;
						}

						input {
							width: 100%;
							height: 40px;
							margin-top: 8px;
							border-radius: 5px;
							border: 1px solid $light_gray;
							padding: 10px;
							color: $marine_blue;
							font-weight: bold;

							&:focus {
								outline-color: $purplis_blue;
							}

							&::placeholder {
								font-weight: normal;
							}
						}
					}
				}
			}

			.form-buttons {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				padding-top: 30px;

				button {
					font-weight: bold;
					height: 40px;
					padding: 10px;
					border: none;
					cursor: pointer;
				}

				.submit {
					background-color: $marine_blue;
					color: $white;
					border-radius: 5px;

					&:hover {
						background-color: $purplis_blue;
					}
				}

				.back {
					background-color: transparent;
					color: $cool_gray;

					&:hover {
						color: $marine_blue;
					}
				}

				.back.invisible {
					visibility: hidden;
				}
			}
		}
	}
}
