@import "./assets/scss/variables.scss";
@import "./components/sidebar/sidebar.scss";
@import "./components/form/form.scss";

.app {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;

	.container {
		display: flex;
		background-color: $white;
		border-radius: 0.65rem;
		padding: 0.65rem;
		min-width: 56rem;
		height: 36.8rem;

		.confirmation-message {
			width: 43.7rem;
			padding: 6.25rem;
			padding-top: 9.375rem;
			justify-content: center;
			align-items: center;
			text-align: center;

			.confirmation-title {
				padding: 0.65rem 1.25rem;
				color: $marine_blue;
			}

			.confirmation-details {
				font-size: 1.125rem;
				color: $cool_gray;
				padding: 0 0.65rem;
				line-height: 1.56rem;
			}
		}

		.hidden {
			display: none;
		}
	}
}

@media screen and (max-width: 1440px) {
	//Desktop
	.container {
	}
}

@media screen and (min-width: 376px) and (max-width: 768px) {
	//Tablet
	.container {
	}
}

@media screen and (max-width: 375px) {
	//Mobile
	.container {
	}
}
