@import "./assets/scss/variables.scss";
@import "./components/sidebar/sidebar.scss";
@import "./components/form/form.scss";

.app {
	display: flex;
	justify-content: center;
	align-items: center;

	.container {
		display: flex;
		background-color: $white;
		border-radius: 0.65rem;
		padding: 0.65rem;
	}

	.confirmation-message {
		justify-content: center;
		align-items: center;
		text-align: center;

		.confirmation-title {
			color: $marine_blue;
		}

		.confirmation-details {
			color: $cool_gray;
		}
	}

	.hidden {
		display: none;
	}
}

@media screen and (max-width: 375px) {
	//Mobile
	.app {
		width: 100%;
		height: 100vh;

		.confirmation-message {
			width: 19rem;
			position: absolute;
			top: 6rem;
			left: 2rem;
			background-color: $white;
			padding: 3rem 1.5rem;
			border-radius: 0.65rem;
			justify-content: center;
			align-items: center;
			text-align: center;

			.confirmation-title {
				font-size: 1.125rem;
				padding: 0.65rem 1.25rem;
			}

			.confirmation-details {
				font-size: 0.875rem;
				padding: 0 0.65rem;
				line-height: 1.2rem;
			}
		}
	}
}

@media screen and (min-width: 376px) and (max-width: 768px) {
	//Tablet
	.app {
		width: 100vw;
		height: 100vh;

		.container {
			min-width: 56rem;
			min-height: 36.8rem;

			.confirmation-message {
				width: 43.7rem;
				padding: 6.25rem;
				padding-top: 9.375rem;

				.confirmation-title {
					padding: 0.65rem 1.25rem;
				}

				.confirmation-details {
					font-size: 1.125rem;
					padding: 0 0.65rem;
					line-height: 1.56rem;
				}
			}
		}
	}
}

@media screen and (min-width: 769px) and (max-width: 1440px) {
	//Desktop
	.app {
		width: 100vw;
		height: 100vh;

		.container {
			min-width: 56rem;
			min-height: 36.8rem;
		}

		.confirmation-message {
			width: 43.7rem;
			padding: 6.25rem;
			padding-top: 9.375rem;

			.confirmation-title {
				padding: 0.65rem 1.25rem;
			}

			.confirmation-details {
				font-size: 1.125rem;
				padding: 0 0.65rem;
				line-height: 1.56rem;
			}
		}
	}
}
